<div class="todo-form">
    <div class="todo-content">
        <!-- <input type="text" [(ngModel)]="toDo$.label" placeholder="Name des ToDo-Punktes" (keyup.enter)="createToDo($event)"> -->
        <input type="text" (keyup.enter)="createToDo($event)" [(ngModel)]="toDo$.label" placeholder="Name des ToDo-Punktes" >
    </div>
    <!-- <div class="create" (click)="createToDo($event)"> -->
    <div class="create" >
        <span>Erstellen</span>
    </div>
</div>